{% load static from staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "game/css/site.css" %}">
    </head>
    <body>
        <h2 class="text-center">Please select an album from below to Play</h2>

        <div class="row">
            {% for album in albums %}
                <div class="col-lg-4 text-center">
                    <!--<div class="album-container">-->
                    <div style="padding: 30px; margin: 10%;">
                    <a href="test/?album={{ album.title }}">
                        <img src="{{ album.images.0 }}" style="width: 250px; height: 250px; border-radius: 50%;" />
                        <!--<img src="{{ album.images.0 }}" class="album-image" />-->
                        <br />
                        <span style="font-size: 32px;" class="album-caption">{{ album.title }}</span>
                    </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </body>
</html>
