{% load static from staticfiles %}

<!DOCTYPE html>
<html>

	<head>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	
	<body style="background-color: #07DBC6">
		<h2 style="text-align:center">Please select an album from below to Play</h2>
		<div id="albumList">
		</div>
	</body>
	<script type = "text/javascript" language = "javascript">
		
			$(document).ready(function() {
				$.getJSON('http://recognize.bitbutt.io/json/albums', function(data) {
					var albums = data.albums;
					for(var i = 0; i < albums.length; i++) {
						var button = "<div class = \"row\">";
						button += "<div class=\"col-xs-6 col-md-3\">";
						button += "<a href=\"test.html?album=" + albums[i].title + "\" class=\"thumbnail\">" + albums[i].title;
						button += "<img src=\"http://recognize.bitbutt.io" + albums[i].images[0] + "\">"
						
						button += "</a></div></div>"
						console.log(button);
						$("#albumList").append(button);
						console.log(button);
					}
		
				});
			});


		</script>




</html>
