{% load static from staticfiles %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static "game/js/pixelcanvas.js" %}"></script>
</head>

<body>
    <div id="questionBlock" style="text-align: center;">
        <canvas id="questionCanvas" width="250" height="250"></canvas>
    </div>

    <div id="answerBlock" style="text-align: center;">
        <img id="choice1" width="100px" height="100px"/>
        <img id="choice2" width="100px" height="100px"/>
        <img id="choice3" width="100px" height="100px"/>
    </div>
</body>

<script type="text/javascript">
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min) + min);
    }

    /**
     * NOTE FOR POSTERITY: getJSON() is **asynchronous**, so you cannot directly access
     * the `data` parameter outside of getJSON() (e.g. by assigning to a variable)
     * because you cannot guarantee that getJSON() finishes executing before code
     * further down is executed. Your outside variables will most likely be undefined
     * unless you use black magic.
     *
     * This is why Logan could not dynamically specify the image source for the
     * canvas before; the questionImage variable was always undefined outside of
     * getJSON() because of lack of synchronization.
     *
     * All of the canvas stuff is now inside of getJSON() because it was the easiest
     * solution to the synchronization problem (but not necessarily the best).
     */
    $.getJSON('http://recognize.bitbutt.io/json/albums/', function(data) {
        // Pick a random album can be changed later
        // If the random album only has one image get another one.
        var questionImage;
        var albumNumber = randomNumber(0, data.albums.length);
        var specifiedAlbum = data.albums[albumNumber].images;

        while(specifiedAlbum.length === 1) {
            specifiedAlbum = data.albums[randomNumber(0, data.albums.length)].images;
        }

        // Get a random image from that album for the question
        questionImage = specifiedAlbum[randomNumber(0, specifiedAlbum.length)];

        var answerImages = new Array(3);

        // Get images to use for possible answers
        answerImages[0] = specifiedAlbum[randomNumber(0, specifiedAlbum.length)];

        while(answerImages[0] === questionImage) {
            answerImages[0] = specifiedAlbum[randomNumber(0, specifiedAlbum.length)];
        }

        answerImages[1] = specifiedAlbum[randomNumber(0, specifiedAlbum.length)];  

        while(answerImages[1] === questionImage) {
            answerImages[1] = specifiedAlbum[randomNumber(0, specifiedAlbum.length)];
        }

        answerImages[2] = specifiedAlbum[randomNumber(0, specifiedAlbum.length)];  

        while(answerImages[2] === questionImage) {
            answerImages[2] = specifiedAlbum[randomNumber(0, specifiedAlbum.length)];
        }

        for(var i = 1; i <= 3; i++) {
            console.log(answerImages[i - 1]);
            document.getElementById("choice" + i).src = "http://recognize.bitbutt.io" + answerImages[i - 1];
        }

        // Load the question image and wrap the unpixelation in an interval
        var pixelCanvas = new PixelCanvas(document.getElementById("questionCanvas"));

        pixelCanvas.setImage("http://recognize.bitbutt.io" + questionImage);

        var pixelInterval = setInterval(function() {
            if (!pixelCanvas.isClear()) {
                console.log("Unpixelating");
                pixelCanvas.unpixelate();
            } else {
                console.log("Image completely clear, stopping interval");
                clearInterval(pixelInterval);
            }
        }, 2000); // unpixelate every 2 seconds
    });
</script>

</html>
