{% load static from staticfiles %}

<html>
<head>
    <link rel="stylesheet" href="{% static "game/css/recog.css" %}">

    <title>recognize</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"> </script>
    <script type="text/javascript" language="javascript">

   var imageNum = 0;		//image the user is on
   var totalImageNum = 0;	//total number of images
   var albumNum = 0;		//which album the user is on
   var totalAlbumNum = 0;	//total number of albums
   var corNum = 0;			//number correct
   var album = [];			//this is a little confusing so may change later. List of images in an album
   var albums = [];			//this is the total list of albums
   var rands = [];			//array of random numbers. So far holds three
   var interval;

   var soundFileTicking = "{% static "game/audio/clock-ticking-1.mp3" %}";
   var soundFileWrong = "{% static "game/audio/scream.mp3" %}";
   var soundFileCorrect = "{% static "game/audio/ting.mp3" %}";
   
   //Resets the variables after an album is finished
   function end(){
		$('.albumButton').removeAttr('hidden');
		$('.answerButton').attr('hidden', 'hidden');
		$('#image').attr('hidden', 'hidden');
		$('canvas').attr('hidden', 'hidden');
		
		imageNum = 0;
		totalImageNum = 0;
		albumNum = 0;
		album = [];
		rands = [];
   
   }
   
   function pixelation(){
   //Initial pixelation
		var canvas = document.getElementById("demo");
		var ctx = canvas.getContext('2d');
		var img = new Image();
		var value = 20;
		img.onload = pixelate;		
		img.src = 'http://recognize.bitbutt.io/' + album[imageNum];	
		function pixelate() {
			 
			var fw = (img.width / value);
        	var fh = (img.height / value);
        	
        	if(fw == Number.POSITIVE_INFINITY || fh == Number.POSITIVE_INFINITY) {
        		clearInterval(interval);
        	}
        	ctx.imageSmoothingEnabled = false;
    		ctx.mozImageSmoothingEnabled = false;
    		ctx.msImageSmoothingEnabled = false;
    		ctx.webkitImageSmoothingEnabled = false;
        	ctx.drawImage(img, 0, 0, fw, fh);
    
    		/// draw the mini-version back up, voila, pixelated
			// don't like hardcoding 250
        	 ctx.drawImage(canvas, 0, 0, fw, fh, 0, 0, 250, 250);
        	 value -= 2;
        	
        	  
		}
			interval = setInterval(function(){pixelate()},1000);				
		}
   

   
   //This function selects three random ints. These ints are used
   //to select the images from the album that will be used for the answer
   //choices. One answer choice will always be the correct image but its
   //placement will still be random
   function randomInt(min,max) {
		var rand1 = 0;
		var rand2 = 0;
		var rand3 = 0;
		var corRand = Math.floor(Math.random()*(3)+1);
		if(corRand == 1){
			rand1 = imageNum;
			rand2 = Math.floor(Math.random()*(max-min+1)+min);
			while (rand1 == rand2){
				rand2 = Math.floor(Math.random()*(max-min+1)+min);
			}
			rand3 = Math.floor(Math.random()*(max-min+1)+min);
			while(rand3 == rand1 || rand3 == rand2){
				rand3 = Math.floor(Math.random()*(max-min+1)+min);
			}
		} else if(corRand == 2){
			rand2 = imageNum;
			rand1 = Math.floor(Math.random()*(max-min+1)+min);
			while (rand1 == rand2){
				rand1 = Math.floor(Math.random()*(max-min+1)+min);
			}
			rand3 = Math.floor(Math.random()*(max-min+1)+min);
			while(rand3 == rand1 || rand3 == rand2){
				rand3 = Math.floor(Math.random()*(max-min+1)+min);
			}
		} else if(corRand == 3){
			rand3 = imageNum;
			rand2 = Math.floor(Math.random()*(max-min+1)+min);
			while (rand3 == rand2){
				rand2 = Math.floor(Math.random()*(max-min+1)+min);
			}
			rand1 = Math.floor(Math.random()*(max-min+1)+min);
			while(rand3 == rand1 || rand1 == rand2){
				rand1 = Math.floor(Math.random()*(max-min+1)+min);
			}
		} else{
			$("#error").append("There was an error generating random numbers");
		}
		
		rands[0] = rand1;
		rands[1] = rand2;
		rands[2] = rand3;
		
		return 3;
   }

   //This lets the user choose an album. It has to be done outside of the main
   //document.ready block because the buttons are dynamically generated.
   $(document).on('click', '.albumButton', function () {
			//This gives ticking sound when any album is selected
			$("#audioControlTicking").attr("src", soundFileTicking).trigger("play");
			
			for(i = 0; i < totalAlbumNum; i++){
				if(albums[i] == this.value){
					albumNum = i;
					break;
				}
			}
			$('.albumButton').attr('hidden', 'hidden');
			$.getJSON('http://recognize.bitbutt.io/json/albums/', function(data) {
				while(data.albums[albumNum].images[totalImageNum] != null){
						album[album.length] = data.albums[albumNum].images[totalImageNum];
						totalImageNum++;
				}
			
				randomInt(0, totalImageNum - 1);
				$('.answerButton').removeAttr('hidden');
				$('canvas').removeAttr('hidden');
				$('#image').attr('src', 'http://recognize.bitbutt.io/' + album[imageNum]);
				$('#ans1').attr('src', 'http://recognize.bitbutt.io/' + album[rands[0]]);
				$('#ans2').attr('src', 'http://recognize.bitbutt.io/' + album[rands[1]]);
				$('#ans3').attr('src', 'http://recognize.bitbutt.io/' + album[rands[2]]);
				pixelation();
			});
	});
	
   //This is the main document.ready function. It handles most of the interaction on the page
   $(document).ready(function() {
			//Creates buttons for all of the albums in the json file
		$.getJSON('http://recognize.bitbutt.io/json/albums/', function(data) {
			while(data.albums[totalAlbumNum] != null){
				$("#chooseAlbum").append('<input type=\"button\" class=\"albumButton\" value=\"' + data.albums[totalAlbumNum].title + '\" />');
				albums[totalAlbumNum] = data.albums[totalAlbumNum].title;
				totalAlbumNum++;
			}
		});
		
		
		//This keeps score based on which image is selected. It then 
		//changes images. 
		$(".answerButton").click(function(event){
			if($('#image').attr('src') == $('#' + this.id).attr('src') ){
				$("#audioControlCorrect").attr("src", soundFileCorrect).trigger("play");
				corNum++;
				$('#score').html('Number Correct: ' + corNum);
			}
			else{
				$("#audioControlWrong").attr("src", soundFileWrong).trigger("play");
			}
			imageNum++;
			clearInterval(interval);
			if(imageNum >= totalImageNum){
				$("#Audio1").attr("src", soundFileTicking).trigger("stop");
				end();
			} else{
				var x = randomInt(0, totalImageNum - 1);
				$('#image').attr('src', 'http://recognize.bitbutt.io/' + album[imageNum]);
				$('#ans1').attr('src', 'http://recognize.bitbutt.io/' + album[rands[0]]);
				$('#ans2').attr('src', 'http://recognize.bitbutt.io/' + album[rands[1]]);
				$('#ans3').attr('src', 'http://recognize.bitbutt.io/' + album[rands[2]]); 
			
			pixelation();
			}
		});
		
   });
  
   </script>
   
</head>
<body>
    <audio controls id="audioControlTicking" hidden="true" loop /></audio>
    <audio id="audioControlWrong" hidden="true"></audio>
    <audio id="audioControlCorrect" hidden="true"></audio>

	<!-- Div for update info -->
	<!--
	<div id="info">
		<p>
		Choose an album by pressing the button. The third currently doesn't work because it doesn't have 3 images.
		Also it just keeps looping through the album forever, but I'm assuming we would want it to
		end. I just did it this way now so it would not break.
		</p>
	-->
	</div>
	<!-- Div for throwing errors-->
	<div id="error">
	</div>
	<!-- Div for test output -->
	<div id="output">
	</div>
	<!-- Div for score-->
	<div id="score">
		Number Correct: 0
	</div>
	<!-- Div for album buttons-->
	<div id="chooseAlbum">
	</div>
	<!-- Div for the image being quizzed on-->
	<div id="quiz" >
		<!--The image tags need to have the width and height moved to css -->
		<canvas id="demo" width="250" height="250"></canvas>
		<img hidden id="image" />
	</div>
	<!-- Div for answer images-->
	<div id="answers">
		<img hidden id="ans1" class="answerButton" />
		<img hidden id="ans2" class="answerButton" />
		<img hidden id="ans3" class="answerButton" />
	</div>

   
</body>
</html>
