<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src = "../../static/game/js/pixelcanvas.js"></script>
		<script src = "../../static/game/js/common.js"></script>
	</head>
	
	
	
	
	<body style="background-color:#07DBC6">
		<div id="Question" style="text-align:center"></div>
	
		<div id="Answer Choices">
		</div>
	
	
	
	
	
	</body>
	<script>	
		//Gets the album name from the url parameter, and in case the name has spaces
		//it removes the %20 and replaces it with a space.
		var specifiedAlbum = decodeURIComponent(location.search).substring(7);
		
		var images = getJSON(specifiedAlbum);
		
		var questionImage = 
			
		
			
		
		
		
		
		
			
	</script>
</html>