{% load static from staticfiles %}

<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "game/css/site.css" %}">
		<link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="{% static "game/js/pixelcanvas.js" %}"></script>
        <script src="{% static "game/js/common.js" %}"></script>
        <!--<script src="../../static/game/js/pixelcanvas.js"></script>-->
        <!--<script src="../../static/game/js/common.js"></script>-->
	</head>
	

	
    <body>
		<audio id="audioControlWrong" hidden="true"></audio>
    	<audio id="audioControlCorrect" hidden="true"></audio>
		
		<section id="scoreboard" style="position:fixed; top:20px; right:15px">
			<em><p id="score" style="font-size:300%; font-family: serif">Score: 0</p></em>
		</section>
	
		<section style="text-align:center">
			<div id="question" style="border-style: groove; border-width: 10px; border-color:cyan; width:270px; position:fixed; top:50px; right:500px">
				<canvas id="questionCanvas" width="250" height="250"></canvas>
			</div>
		</section>	
	
		<div id="answerChoices" style="position:fixed; top:400px; right: 475px">
			<img id="answerChoice0" width ="100px" height = "100px">
			<img id="answerChoice1" width ="100px" height = "100px">
			<img id="answerChoice2" width ="100px" height = "100px"></br>
			<a class="btn btn-default" href="/">Go Back</a>
		</div>
	</body>
	
	
	
	
	<script>	
		//Gets the album name from the url parameter, and in case the name has spaces
		//it removes the %20 and replaces it with a space.
		var specifiedAlbum = decodeURIComponent(location.search).substring(7);
		var score = 0;
		var questionImage;
		var images = [];
		var canvas = document.getElementById("questionCanvas");
		var pixelCanvas = new PixelCanvas(canvas);
		var context = canvas.getContext('2d');
		
		
		images = getJSON(specifiedAlbum);
        console.log("test.html", "images", images);
		
		questionImage = images[randomNumber(0, images.length)];
			
		var answerChoices = getAnswerChoices(questionImage, images);
		if(answerChoices.length < 3) {
			for(var i = 0; i < answerChoices.length; i++) {
				$("#answerChoice" + i).attr("src", "http://recognize.bitbutt.io" + answerChoices[0]);
				console.log($("#answerChoice" + i).src);
			}
		}
		else {
			console.log(answerChoices);
			for(var i = 0; i < answerChoices.length; i++) {
				$("#answerChoice" + i).attr("src", "http://recognize.bitbutt.io" + answerChoices[i]);
				console.log($("#answerChoice" + i).src);
			}
		}		
        pixelCanvas.setImage("http://recognize.bitbutt.io" + questionImage);
        var pixelInterval = setInterval(function() {
            if (!pixelCanvas.isClear()) {
    	        //console.log("Unpixelating");
                pixelCanvas.unpixelate();
            } else {
                //console.log("Image completely clear, stopping interval");
                clearInterval(pixelInterval);
                nextRound(specifiedAlbum);
       	    }
       	}, 2000); // unpixelate every 2 seconds	
        		
		
		$("img").click(function(event) {
				var oldScore = score;
    			score += isCorrect(this.src.substring(27), questionImage);
    			if(oldScore < score) {
    				clearInterval(pixelInterval);
    				nextRound(specifiedAlbum); 
    				   			
    			}
    		
    			$("#score").text("Score: " + score);
		});	
		
		
		
		
		
		
		
		function nextRound(specifiedAlbum) {
			context.clearRect(0, 0, canvas.width, canvas.height);
			questionImage = images[randomNumber(0, images.length)];
			var answerChoices = getAnswerChoices(questionImage, images);
			console.log(answerChoices);
			for(var i = 0; i < answerChoices.length; i++) {
				$("#answerChoice" + i).attr("src", "http://recognize.bitbutt.io" + answerChoices[i]);
				console.log($("#answerChoice" + i).src);
			}
			pixelCanvas.setImage("http://recognize.bitbutt.io" + questionImage);
        	pixelInterval = setInterval(function() {
        	    if (!pixelCanvas.isClear()) {
        	        //console.log("Unpixelating");
        	        pixelCanvas.unpixelate();
        	    } else {
        	        //console.log("Image completely clear, stopping interval");
        	        clearInterval(pixelInterval);
        	        nextRound(specifiedAlbum);
        	    }
        	}, 2000); // unpixelate every 2 seconds	
		}
		
	</script>
</html>
