body {
    background: url('../img/paper_fibers.png'); /* from www.subtlepatterns.com */
}

.album-container {
    padding: 30px;
    margin: 10%;
}

.album-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
